<form id="loginForm" method="POST" action=".">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.email.id_for_label }}" class="control-label">Email Address</label>
        {{ form.email }}
        <span class="help-block">{{ form.email.errors }}</span>
    </div>
    <div class="form-group">
        <label for="{{ form.password.id_for_label }}" class="control-label">Password</label>
        {{ form.password }}
        <span class="help-block">{{ form.password.errors }}</span>
    </div>
    <div id="loginErrorMsg" class="alert alert-error hide">{{ form.non_field_errors }}</div>
    <button type="submit" class="btn btn-success btn-block">Login</button>
    <a href="#" class="btn btn-default btn-block disabled">Forgot Password</a>
</form>